*.map
*.log
.DS_Store
node_modules
dist
*.iml
.idea
coverage
public
.eslintcache
src/cogment/api
/cogment
secrets
/docs/api/
docker-compose.override.yaml
eslint.json
dependency-check-*.*
tls
tsconfig.tsbuildinfo
bin/cogment
*.bak
