*.map
*.log
.DS_Store
node_modules
dist
*.iml
.idea
junit.xml
coverage
public
.eslintcache
src/cogment/api
/cogment
secrets
/allure-report/
/allure-results/
/docs/api/
docker-compose.override.yaml
eslint.json
dependency-check-*.*
tls
tsconfig.tsbuildinfo
