*.map
*.log
.DS_Store
node_modules
dist
*.iml
.idea
coverage
public
.eslintcache
**/cogment/api
/cogment
secrets
/docs/api/
docker-compose.override.yaml
eslint.json
dependency-check-*.*
tls
tsconfig.tsbuildinfo
*.bak

.venv/
.cogment/
__pycache__/
